venv/
frontend/node_modules/
windows_agent/__pycache__
backend/venv/
backend/__pycache__
manager-dashboard/node_modules/
backend/app/__pycache__
backend/app/api/__pycache__
backend/app/api/endpoints/__pycache__
backend/app/core/__pycache__
backend/app/core/security/__pycache__
backend/app/db/__pycache__
backend/app/schemas/__pycache__
backend/app/models/__pycache__
data/train
data/test

backend/ModelTraining/venv/
windows/build/
windows/dist/
windows/installer/
windows/__pycache__/
windows/logs/
windows/*.json
build.log
log.txt
windows/build_log.txt
windows/StressDetectionInstaller.exe